.wrapper{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    .header{
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        position: relative;
        padding: 9px 20px 12px 20px;
        background: #8E8E8E;

        .text{
            font-size: 18px;
            color: #FFF;
            font-weight: 700;
        }


        .cross-icon{
            position: absolute;
            right: 20px;
            top: 20px;
            width: 20px;
            height: 20px;
            cursor: pointer;

            &::after{
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 20px;
                height: 1px;
                background-color: #FFF;
                transform: rotate(45deg);
            }

            &::before{
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 20px;
                height: 1px;
                background-color: #FFF;
                transform: rotate(-45deg);
            }

        }

        
    }

    .content{
        padding: 20px;
        background-color: #FFF;
        .info-card{
            border: 1px solid #EEEEEE;
            border-radius: 8px;
            margin-bottom: 16px;
            overflow: hidden;
            .top-wrap{
                display: flex;
                align-items: center;
                padding:12px 13px 10px 13px;

                .icon-wrap{
                    flex-shrink: 0;
                    max-width: 16px;
                    width: 100%;
                    margin-right: 8px;
                }
                .text{
                    font-size: 12px;
                    line-height: 14px;
                    color: #333333;
                }
            }

            .bottom-wrap{
                display: flex;
                align-items: center;
                padding: 4px 8px;
                background: linear-gradient(90deg, #E6F9FF 15.42%, #F3FFE0 93.19%);

                .icon-wrap{
                    flex-shrink: 0;
                    max-width: 24px;
                    width: 100%;
                    margin-right: 8px;
                }

                .text{
                    font-size: 15px;
                    line-height: 17px;
                    font-weight: 700;
                }
            }
        }

        .benefit-card{
            border-radius: 8px;
            overflow: hidden;

            .top-wrap{
                display: flex;
                justify-content: space-between;
                padding: 9px 18px;
                background: linear-gradient(90deg, #D8EAFF 15.42%, #E9F4FF 93.19%),
                linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
                .text{
                    font-size: 12px;
                    line-height: 14px;
                    color: #333333;
                }

                .price{
                    font-size: 15px;
                    line-height: 17px;
                    font-weight: 700;
                }
            }

            .bottom-wrap{
                padding: 28px 18px 23px 18px;
                background-color: #FAFAFA;

                .title{
                    text-align: center;
                    font-size: 15px;
                    line-height: 17px;
                    color: #333333;
                    font-weight: 700;
                    margin-bottom: 22px;
                }

                .info-wrap{
                    text-align: center;
                    .text{
                        font-size: 13px;
                        line-height: 15px;
                        color: #333333;
                        font-weight: 500;
                        margin-bottom: 4px;
                    }
                    .price{
                        font-size: 26px;
                        line-height: 30px;
                        color: #333333;
                        font-weight: 700;
                        margin-bottom: 4px;
                    }
                    .o-text{
                        font-size: 11px;
                        line-height: 12px;
                        color: #747474;
                        font-weight: 500;
                    }
                }

                .cards-wrapper{
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    padding: 28px 0 0 0;
                    margin-bottom: 23px;
                    gap:32px;

                    .card{
                        flex: 1 1 146px;
                        max-width: 146px;
                        padding: 8px 6px;
                        border: 1px solid #CDCDCD;
                        border-radius: 8px;
                        text-align: center;
                        .price{
                            font-size: 15px;
                            line-height: 17px;
                            font-weight: 700;
                            margin-bottom: 4px;
                        }

                        .text{
                            font-size: 11px;
                            line-height: 12.89px;
                            color: #333333;
                        }   
                    }

                    .arrow-divider{
                        position: absolute;
                        left: 50%;
                        top: 18px;
                        border: 1px dashed #CDCDCD;
                        width: 36px;
                        transform: translateX(-50%) rotate(90deg);

                        .arrow-1{
                            position: absolute;
                            bottom: -1px;
                            right: -16px;
                            transform: rotate(270deg);
                        }

                        .arrow-2{
                            position: absolute;
                            bottom: -17px;
                            right: -16px;
                            transform: rotate(-90deg);
                        }
                    }
                }

                .outcome-wrapper{
                    display: flex;
                    justify-content: space-between;

                    .left-wrap{
                        position: relative;
                        z-index: 10;
                        max-width: 212px;
                        width: 100%;
                        padding: 7px 13px 7px 13px;
                        border: 1.31px solid #00BF36;
                        border-radius: 5.25px;

                        .price{
                            font-size: 18px;
                            line-height: 18.75px;
                            font-weight: 700;
                            margin-bottom: 4px;
                        }
                        .desc-wrap{
                            display: flex;
                            align-items: center;
                            margin-bottom: 4px;

                            .icon-wrap{
                                flex-shrink: 0;
                                max-width: 16px;
                                width: 100%;
                                margin-right: 4px;
                            }

                        }
                        .text{
                            font-size: 10px;
                            line-height: 11.72px;
                            color: #333333;

                            .highlight{
                                font-weight: 700;
                            }
                        }
                        .glitter{
                            position: absolute;
                            width: auto;
                            left: 0;
                            top: 0;
                            z-index: -1;
                        }
                        .border-wrap{
                            position: absolute;
                            right: -24.75px;
                            top: 50%;
                            transform: translateY(-50%) ;
                            z-index: 9;
                            width: 24.75px;
                            border: 1px dashed #CDCDCD;

                            &::after{
                                position: absolute;
                                content: "";
                                top:0;
                                transform: translateY(-50%);
                                right: -12px;
                                border-width: 6px 6px 6px 6px;
                                border-style: solid ;
                                border-color: transparent transparent transparent #CDCDCD;
                            }
                        }
                    }

                    .right-wrap{
                        .text{
                            text-align: end;
                            font-size: 12px;
                            line-height: 14.06px;
                            color: #333333;
                            font-weight: 500;
                            margin-bottom: 4px;
                        }
                        .price{
                            font-size: 24px;
                            line-height: 28.13px;
                            font-weight: 700;
                            margin-bottom: 4px;
                        }
                        .o-text{
                            text-align: center;
                            font-size: 10px;
                            line-height: 11.72px;
                            color: #747474;
                        }
                    }
                }
            }
        }
    }
}


.text-danger{
    color: #E82217;
}

.text-success{
    color: #77AA00;
}



@media screen and (max-width: 767px){
    .wrapper{
        border-radius: 12px 12px 0 0;
        overflow: hidden;

        .header{
            text-align: center;
            color: #333333;
            background-color: #FFF;
            padding: 24px 20px 0 20px;

            .text{
                font-size: 16px;
                color: #333333;
                line-height: 18.75px;
            }

            .cross-icon{
                top: 27px;

                
                &::before{
                    width: 12px;
                    background-color: #C4C4C4;
                }

                &::after{
                    width: 12px;
                    background-color: #C4C4C4;

                }
            }
        }

        .content{

            .info-card{
                margin-bottom: 24px;
                .top-wrap{
                    padding: 12px;

                    .text{
                        font-size: 11px;
                        line-height: 12.89px;
                    }
                }

                .bottom-wrap{

                    .text{
                        font-size: 14px;
                        line-height: 16.41px;
                    }
                }
            }

            .benefit-card{

                .top-wrap{
                    flex-direction: column;
                    gap: 4px;
                    align-items: center;
                    padding: 8px 18px;
                }

                .bottom-wrap{
                    padding: 9px 16px 7px 16px;
                    
                    .title{
                        margin-bottom: 24px;
                        font-size: 14px;
                        line-height: 16.41px;
                        
                    }

                    .info-wrap{

                        .text{
                            font-size: 12px;
                            line-height: 14.06px;
                        }

                        .price{
                            font-size: 24px;
                            line-height: 28.13px;
                        }
                        .o-text{
                            font-size: 10px;
                            line-height: 11.72px;
                        }
                    }

                    .cards-wrapper{
                        padding: 32px 0 0 0;
                        margin-bottom: 24px;

                        .card{

                            .price{
                                font-size: 14px;
                                line-height: 16.41px;
                            }

                            .text{
                                font-size: 10px;
                                line-height: 11.72px;
                            }
                        }
                    }

                    .outcome-wrapper{
                        flex-direction: column;
                        gap: 24px;

                        .left-wrap{
                            max-width: 100%;
                            .price{
                                text-align: center;
                                font-size: 16px;
                                line-height: 18.75px;
                            }

                            .desc-wrap{
                                justify-content: center;
                            }
                            .text{
                                text-align: center;
                            }

                            .glitter{
                                width: 100%;
                            }

                            .border-wrap{
                                left: calc(50% - 11px);
                                bottom: 0px;
                                right: auto;
                                top: auto;
                                width: 22px;
                                transform: rotate(90deg) translateX(11px);

                                &::after{
                                    right: -8px;
                                    border-width: 4px 4px 4px 4px;
                                }
                            }
                        }

                        .right-wrap{
                            .text{
                                text-align: center;
                            }
                            .price{
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}